@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:wght@300;400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
nav,
.title {
  font-family: 'Montserrat';
}

.desc {
  font-family: 'Lato';
}

.link,
.date {
  font-family: 'Nunito Sans';
}

.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.content {
  padding: 10px 16px;
}

@media only screen and (min-width: 768px) {
  .col-right-spacing {
    padding-right: 20px;
  }

  .col-left-spacing {
    padding-left: 5px;
  }
}
@media only screen and (max-width: 768px) {
  .col-right-spacing {
    padding-right: 0px;
  }
  .col-left-spacing {
    padding-left: 0px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .content {
    padding: 10px 24px;
  }
}

@media (min-width: 992px) {
  .content {
    padding: 10px 32px;
  }
}
