.header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: small;
}

.menu-toggle {
  display: none;
}

.menu-nav {
  display: none;
  background-color: transparent;
}

.menu-toggle {
  display: block;
}

.custom-drawer {
  width: 100%;
  max-height: 373px;
  padding: 0 40px;
}

@media (min-width: 500px) {
  .custom-drawer {
    width: 100%;
    min-height: 100%;
    padding: 0;
  }
}

@media (min-width: 640px) {
  .menu-toggle {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .header {
    padding: 0 40px;
  }

  .menu-nav {
    display: block;
    background-color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu-nav {
    display: block;
    width: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding: 0 60px;
  }

  .menu-nav {
    display: block;
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .menu-nav {
    display: block;
    width: 500px;
  }

  .header {
    padding: 0 80px;
  }
}
